.page-header
  %h1 actions

<div class="panel panel-default">

.panel.panel-default
  %table.table
    %tr
      %th
        = '#'
      %th
        name
    - @actions.each do |action|
      %tr
        %td= action.number
        %td= action.name

