.page-header
  %h1
    MEMORY #{params[:range]}
    %span.small j,k to change number

.friends_memory_mode
  .btn-group.memory{ role: 'group' }
    %a.btn.btn-default.active{ type: 'button', href: '#', data: { memory: 'all' } }
      all
    %a.btn.btn-default{ type: 'button', href: '#', data: { memory: 'friends' } }
      friends
    %a.btn.btn-default{ type: 'button', href: '#', data: { memory: 'objects' } }
      objects
    %a.btn.btn-default{ type: 'button', href: '#', data: { memory: 'actions' } }
      actions

  .btn-group.first{ role: 'group' }
    %a.btn.btn-default.active{ type: 'button', href: '#', data: { first: 'name' } }
      name first
    %a.btn.btn-default{ type: 'button', href: '#', data: { first: 'number' } }
      number first

  .btn-group.count
    .dropdown
      %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", type: "button", data: { count: 1 }}
        %span.text
          count 1
        %span.caret
      %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", role: "menu"}
        - %w(1 3 6 8).each do |count|
          %li{role: "presentation"}
            %a{href: "#", role: "menuitem", tabindex: "-1", data: { count: count }} count #{count}

.counter

.friends_memory_canvas{ data: { path: friends_path(range: params[:range]),
objects_path: memory_objects_path(range: params[:range]),
actions_path: memory_actions_path(range: params[:range]) } }
