@import "bootstrap-sprockets";
@import "bootstrap";

.global_navigation {
  margin-top: 20px;
}

.friends_management {
  @include clearfix;

  .btn-group {
    float: right;

    &.filter {
      margin-right: 20px;
    }
  }
}

.friends {
  margin-top: 20px;

  .friend.col-md-1 {
    text-align: center;
    width: 10%;
    padding: 0 5px;

    .thumbnail {
      position: relative;

      .number {
        position: absolute;
        top: 0;
        right: 0;
      }

      .picture {
        width: 100%;
      }
    }
  }

  .text {
    min-height: 60px;
  }

  .buttons {
    form {
      display: inline;
    }
    margin-top: 5px;
  }
}

.friend_assign_number_message {
  margin-top: 20px;
}

.friend_form {
  .btn.btn-primary {
    margin-top: 20px;
  }
}

.friends_memory_mode {
  text-align: right;
}

.friends_memory_canvas {
  @include clearfix;
  box-sizing: border-box;
  margin: 20px 0 100px 0;

  .friend {
    float: left;
  }

  .image {
    border-radius: 200px;
  }

  .name {
    text-align: center;
    font-weight: bold;

    .name_text {
      margin-top: 20px;
    }
  }

  .number {
    text-align: center;
  }
}
